# MSDS 610 — Final Project 2
### Eddie Flores

### **Note:** Optimized pkl model was too large to upload to Github. Uploaded zip file with model.

---
## `Part Seven` — Executing with Live Data

### Load Live Data

In [128]:
# Reload necessary libraries
import pandas as pd
import numpy as np
import joblib

# Load the live data
live_data_path = "live_data.csv"
df_live = pd.read_csv(live_data_path)

# Display the first few rows to inspect the structure of live data
df_live.head()

,url,region,region_url,price,year,manufacturer,model,condition,cylinders,fuel,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,https://lakeland.craigslist.org/ctd/d/lakeland...,lakeland,https://lakeland.craigslist.org,36990,2017.0,ford,f150 super cab lariat,good,6 cylinders,gas,...,NaN,pickup,white,https://images.craigslist.org/00s0s_lRS7etJoVE...,Carvana is the safer way to buy a car During t...,NaN,fl,28.0400,-81.9600,2021-05-02T15:31:06-0400
1,https://quadcities.craigslist.org/ctd/d/waterl...,"quad cities, IA/IL",https://quadcities.craigslist.org,27995,2006.0,chevrolet,corvette,good,8 cylinders,gas,...,NaN,convertible,black,https://images.craigslist.org/00101_aa4DyXpKu0...,2006 *** Chevrolet Corvette Convertible Conver...,NaN,il,42.4778,-92.3661,2021-04-29T18:46:35-0500
2,https://littlerock.craigslist.org/ctd/d/clinto...,little rock,https://littlerock.craigslist.org,78423,2015.0,chevrolet,corvette,NaN,8 cylinders,gas,...,NaN,convertible,NaN,https://images.craigslist.org/00A0A_kJsL7mVMCg...,➔ Want to see more pictures?Paste this link to...,NaN,ar,38.4018,-93.7850,2021-04-17T14:01:33-0500
3,https://wheeling.craigslist.org/ctd/d/follansb...,northern panhandle,https://wheeling.craigslist.org,14000,2013.0,bmw,328i,NaN,NaN,gas,...,NaN,NaN,NaN,https://images.craigslist.org/00K0K_2oCjTKrjd9...,"**Deals, Deals, Deals** Beautiful 2013 BMW 3-S...",NaN,oh,40.3203,-80.6250,2021-04-25T23:53:42-0400
4,https://eugene.craigslist.org/ctd/d/cottage-gr...,eugene,https://eugene.craigslist.org,676,2019.0,chevrolet,suburban ls,NaN,8 cylinders,other,...,NaN,NaN,black,https://images.craigslist.org/00H0H_3hFsa4lTxO...,2019 Chevrolet Suburban LS Brads Chevy - ☎️ ...,NaN,or,43.7839,-123.0529,2021-05-01T10:04:24-0700

In [172]:
df_live.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 25 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   url           100 non-null    object
 1   region        100 non-null    object
 2   region_url    100 non-null    object
 3   price         100 non-null    int64
 4   year          100 non-null    float64
 5   manufacturer  97 non-null     object
 6   model         97 non-null     object
 7   condition     67 non-null     object
 8   cylinders     63 non-null     object
 9   fuel          98 non-null     object
 10  odometer      97 non-null     float64
 11  title_status  96 non-null     object
 12  transmission  100 non-null    object
 13  VIN           64 non-null     object
 14  drive         69 non-null     object
 15  size          28 non-null     object
 16  type          79 non-null     object
 17  paint_color   77 non-null     object
 18  image_url     100 non-null    object
 19  description   100 non-null    object
 20  county        0 non-null      float64
 21  state         100 non-null    object
 22  lat           98 non-null     float64
 23  long          98 non-null     float64
 24  posting_date  100 non-null    object
dtypes: float64(5), int64(1), object(19)
memory usage: 19.7+ KB

### Load reference table for preparing the data

#### Steps to Load the Reference Table:
- Update Connection Details: Replace the placeholder values in db_params with your actual database name, username, password, host, and port.
- Ensure Database Access: The machine running this script must have network access to the PostgreSQL database.
- Check Schema and Table Name: Verify that the table exists in the cleaned schema.

In [130]:
host = r'127.0.0.1'
db = r'MSDS610'
user = r'postgres'
pw = r'Pa55w0rd'
port = r'5432'
schema = r'raw'

In [132]:
from sqlalchemy import create_engine
db_conn = create_engine("postgresql://{}:{}@{}:{}/{}".format(user, pw, host, port, db))

In [134]:
table_name = r'vehicles'
schema = r'cleaned'

In [136]:
df_reference = pd.read_sql_table(table_name, db_conn, schema)

In [138]:
df_reference

      field_name type_of_manipulation              numeric_value
0      condition         Fill Missing                    unknown
1          drive         Fill Missing                    unknown
2    paint_color         Fill Missing                    unknown
3           type         Fill Missing                    unknown
4       odometer         Fill Missing                    85548.0
5          price      Remove Outliers  Below 500 or Above 100000
6       odometer      Remove Outliers               Above 500000
7           fuel     One-Hot Encoding                        N/A
8   title_status     One-Hot Encoding                        N/A
9   transmission     One-Hot Encoding                        N/A
10         drive     One-Hot Encoding                        N/A
11          type     One-Hot Encoding                        N/A
12   paint_color     One-Hot Encoding                        N/A
13  manufacturer       Label Encoding                        N/A
14      odometer              Scaling            Min-Max Scaling
15          year              Scaling            Min-Max Scaling

### **Create User-Defined Functions (UDFs) for Preparing Live Data**

In [166]:
# Re-load necessary libraries since execution state was reset
import pandas as pd
import joblib

# Reload the live data
live_data = df_live.copy()

# Reload the validation datasets
X_val_path = "X_val.csv"
y_val_path = "y_val.csv"

X_val = pd.read_csv(X_val_path)
y_val = pd.read_csv(y_val_path)

# Reload the optimized model
model_path = "optimized_random_forest_model.pkl"
model = joblib.load(model_path)

# Recreate the cleansing decision DataFrame
cleansing_decisions = df_reference.copy()

In [204]:
# Define User-Defined Functions (UDFs) for data cleansing

def fill_missing(df, field_name, value):
    """Fill missing values in the specified column with the given value, ensuring type compatibility."""
    if df[field_name].dtype == 'float64' or df[field_name].dtype == 'int64':
        df[field_name].fillna(float(value), inplace=True)  # Ensure numeric values are properly casted
    else:
        df[field_name].fillna(value, inplace=True)  # Fill with string or categorical values as needed

In [206]:
# Updated remove_outliers function to handle string and numeric comparisons
def remove_outliers(df, field_name, condition):
    """Remove outliers based on the specified condition while ensuring correct data types."""
    if field_name in df.columns:
        # Ensure the column is numeric
        df[field_name] = pd.to_numeric(df[field_name], errors='coerce')

        # Apply outlier removal based on condition
        if "Below" in condition and "Above" in condition:
            parts = condition.replace("Below ", "").replace("Above ", "").split(" or ")
            lower, upper = int(parts[0]), int(parts[1])
            df = df[(df[field_name] >= lower) & (df[field_name] <= upper)]
        elif "Above" in condition:
            upper = int(condition.replace("Above ", ""))
            df = df[df[field_name] <= upper]
        elif "Below" in condition:
            lower = int(condition.replace("Below ", ""))
            df = df[df[field_name] >= lower]
    
    return df

In [208]:
def one_hot_encode(df, field_name):
    """Perform one-hot encoding on the specified categorical column."""
    df = pd.get_dummies(df, columns=[field_name], prefix=field_name)
    return df

In [210]:
def label_encode(df, field_name):
    """Perform label encoding on the specified categorical column."""
    df[field_name] = df[field_name].astype('category').cat.codes

In [212]:
def scale_min_max(df, field_name):
    """Scale the values in the specified column using Min-Max scaling."""
    df[field_name] = (df[field_name] - df[field_name].min()) / (df[field_name].max() - df[field_name].min())

In [222]:
# Function to check if a column exists before applying transformations
def column_exists(df, column_name):
    return column_name in df.columns

# Apply cleansing decisions to the live data safely
for _, row in cleansing_decisions.iterrows():
    field = row["field_name"]
    manipulation = row["type_of_manipulation"]
    value = row["numeric_value"]

    if column_exists(live_data, field):
        if manipulation == "Fill Missing":
            fill_missing(live_data, field, value)
        elif manipulation == "Remove Outliers":
            live_data = remove_outliers(live_data, field, value)
        elif manipulation == "One-Hot Encoding":
            live_data = one_hot_encode(live_data, field)
        elif manipulation == "Label Encoding":
            label_encode(live_data, field)
        elif manipulation == "Scaling":
            scale_min_max(live_data, field)
    else:
        print(f"Warning: Column '{field}' not found in live_data. Skipping '{manipulation}' transformation.")

Warning: Column 'drive' not found in live_data. Skipping 'Fill Missing' transformation.
Warning: Column 'paint_color' not found in live_data. Skipping 'Fill Missing' transformation.
Warning: Column 'type' not found in live_data. Skipping 'Fill Missing' transformation.
Warning: Column 'fuel' not found in live_data. Skipping 'One-Hot Encoding' transformation.
Warning: Column 'title_status' not found in live_data. Skipping 'One-Hot Encoding' transformation.
Warning: Column 'transmission' not found in live_data. Skipping 'One-Hot Encoding' transformation.
Warning: Column 'drive' not found in live_data. Skipping 'One-Hot Encoding' transformation.
Warning: Column 'type' not found in live_data. Skipping 'One-Hot Encoding' transformation.
Warning: Column 'paint_color' not found in live_data. Skipping 'One-Hot Encoding' transformation.

In [224]:
# Ensure feature consistency between validation data and live data
missing_cols = set(X_val.columns) - set(live_data.columns)
for col in missing_cols:
    live_data[col] = 0  # Add missing columns with default value

In [226]:
extra_cols = set(live_data.columns) - set(X_val.columns)
live_data = live_data.drop(columns=extra_cols)  # Remove extra columns

In [232]:
# Ensure feature consistency between validation data (X_val) and live data

# Identify missing columns in live_data (must exist in X_val)
missing_cols = set(X_val.columns) - set(live_data.columns)
for col in missing_cols:
    # Assign default values (0 for numerical, 'unknown' for categorical)
    live_data[col] = 0

# Identify extra columns in live_data that were not in X_val
extra_cols = set(live_data.columns) - set(X_val.columns)
live_data = live_data.drop(columns=extra_cols)  # Drop unnecessary columns

# Reorder columns to match X_val exactly
live_data = live_data[X_val.columns]

# Generate predictions on aligned live data
predictions = model.predict(live_data)

# Convert predictions to DataFrame and display
predictions_df = pd.DataFrame(predictions, columns=["Predicted Values"])

In [240]:
predictions_df.head(10)

   Predicted Values
0      31651.422718
1      11013.761061
2      29144.689743
3       7072.003470
4      33604.124176
5       3794.640678
6      13321.662505
7       3535.173714
8      21982.550730
9      17965.461582